<div class="py-5 w-100">
  <div class="search-bar pb-5">
    <input
      #search
      class="w-100 px-3"
      type="text"
      (input)="onInput($event.target?.value)"
      placeholder="Enter Hamro Bazar Url"
      (keyup.enter)="searchProduct(search.value)"
    />
    <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
  </div>

  <div class="product">
    <div class="card p-5 mb-5" *ngIf="isSearching">
      <div class="loader d-flex justify-content-center">
        <app-loader></app-loader>
      </div>
    </div>
    <div class="card p-4 mb-5" *ngIf="!isSearching && product">
      <div>
        <h3 class="title mb-2">Product Details</h3>
        <div class="row mb-2">
          <div class="col-md-3 font-weight-bold">Title:</div>
          <div class="col-md-9">{{ product.title }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 font-weight-bold">Url:</div>
          <div class="col-md-9">{{ product.url }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 font-weight-bold">Price:</div>
          <div class="col-md-9">{{ product.price }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 font-weight-bold">Contact:</div>
          <div class="col-md-9">{{ product.mobile_number }}</div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3 font-weight-bold">Description:</div>
          <div class="col-md-9">{{ product.description }}</div>
        </div>
      </div>
    </div>

    <div class="card p-4 mb-5" *ngIf="!isSearching && !product && cardContent">
      {{ cardContent }}
    </div>
  </div>
</div>
